


<nav>
        <img src="https://media.istockphoto.com/photos/recycle-logo-picture-id1289939251?b=1&k=20&m=1289939251&s=170667a&w=0&h=3-_tSB2AwaFMk7lr8gUGECYJdUqM-B2KOnidQbbOt8k=" class="logo">
<ul>
    <li > <a href="/"> home</a></li>
    <li><a href="/about">about</a> </li>
    <li><a href="/help">help</a> </li>
</ul>
</nav>